# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.apk

.cxx/
.project

Dependencies/Build
Dependencies/Include
Dependencies/Lib
Bin/Assets/Plugins
Bin/Log
Bin/MacOS/Android
Bin/Windows/Android
Plugins
LostPeterPlugin/Build
LostPeterOpenGLES/Build
Sample/Build
Sample/*/.gradle
Sample/*/app/.cxx
Sample/*/app/build
Sample/*/app/src/main/assets